.fa-plus{
    position: absolute;
    left: 112px;
    height: 41px;
    top: 77px;
    background-color: #6bfd6b;
    color: white;
}

.fa-delete{
    margin-right: 6px;
    position: absolute;
    top: -14.3px;
    left: -3px;
    font-size: 34px;
    color: #ff4f4f;
    cursor: pointer;
}

button.btn.btn-primary {
    position: relative;
    top: -62px;
    left: 37px;
}

.btn-ver{
   background-color:#6bfd6b;
   color: white;
   width: 37%;
   margin-left: auto;
}

.content_body {
    margin: -39px 0px 0px 0px;
}

.fa-plus:active{
    background-color: black;
    color: white;
}

.fa{
    margin-right: 6px;
}

.fa2{
    margin-right: -2px;
}

